@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;600;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;600;700&display=swap');
*{
    box-sizing: border-box;
   font-family: 'Saira Condensed', sans-serif;;

}
body{margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image:url("/assets/img/fundotitulo.png");
    background-size: cover;
   
}

.toposite{
    display: flex;
    height: 100px;
    background:linear-gradient(-180deg,#9400d3,#252525 );
}

.toporespo{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    max-width: 1200px;
    margin:auto;
   
}

.logo{
    display: flex;
    float: left;
    height: 90px;
    margin-left: 15px;

}

.logo a{
    display: flex;
}

.logo a img {
    object-fit: contain;
}

.menu{
    display: flex;
   
}

.menuint{
    display:flex;
}
.menuint ul{
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.menuint li{
    display: inline-flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.menuint a{
    text-decoration: none;
    color: #000;
    font-size: 23px;
    font-weight: bolder;
    text-shadow: #9400d3 1px 2px 5px;
    padding: 5px;
    border-radius: 5px;

}

.menuint li:hover a {
    background-color: #9400d3;
    color: #000;
}

.topredesgg{
   display: flex;
  justify-content: center;

   
}
.topRight a img{
    margin-top: 10px;
    margin-right: 5px;
    object-fit: cover;

}

.conteudosite{
    display: flex;
}

.conteudorespo{
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: auto;
          
}


.ApresentacaoArea{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  

}

.areatitulo{
    display: inline-flex;
    color: #fff;
    font-family:'Saira Condensed', sans-serif; ;
    font-size: 50px;
    margin-top: 45px;
    margin-left: 50px;
    font-weight: bolder;

    
  
}

.subtitulo{
    align-self: flex-end;
    position: absolute;
    margin-top: 85px;
    font-family: 'Saira Condensed', sans-serif;;
    justify-self: flex-start;
    font-size: 35px;
    color: #fff;
    font-weight: bolder;

}
.slide{
    margin-top: 15px;
    margin-left: 300px;
    height: 380px;
    max-width: 600px;
    overflow: hidden;
}
.slideapresentaçao{
    font-size: 25px;
    color: #fff;
    margin-top: 10px;
    margin-left: 15px;

}

.slidearea{
    height:380px;
   width: 100000px;
}

.slideconteudo{
    height: 380px;
    float: left;
    
}
.videoslide{
    width: 100vw;
    max-width: 600px;
}

.content-anime{
    display: flex;
}
.content-anime-respo{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: auto;
  
    
}
.content-anime-respo h2{
    color: #fff;
    margin-top: 35px;
    font-size: 35px;


}
.area-animes{
    display: grid;
    margin: auto;
    max-width: 1200px;
    grid-template-areas: 
    "naruto onepiece tokio"
    "Nanatsu dragonbol ."
    ;
}
.anime-contet-area{
    width: 375px;
    margin: 10px;
   
}
.anime-contet-area h3{
    color: #fff;
    font-size: 20px;
}
.anime-contet-area img{
    width: 375px;
}
.naruto{
    grid-area: naruto;
}
.onepiece{
    grid-area: onepiece;
}
.tokioghoul{
    grid-area: tokio;
}
.Nanatsu{
    grid-area: Nanatsu;
}
.dragonbol{
    grid-area: dragonbol;
}