@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;600;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;600;700&display=swap');
*{
    box-sizing: border-box;
   font-family: 'Saira Condensed', sans-serif;;

}
body{margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image:url("/assets/img/fundotitulo.png");
    background-size: contain;
   
}
/* area menu e topo do site */
.toposite{
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    display: flex;
    height: 100px;
    background:linear-gradient(-180deg,#9400d3,#252525 );
}

.toporespo{
   
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    max-width: 1200px;
    margin:auto;
   
}

.logo{
    display: flex;
    float: left;
    height: 110px;
    margin-left: 15px;

}

.logo a{
    display: flex;
}

.logo a img {
    object-fit: contain;
    
}

.menu{
    display: flex;
   
}

.menuint{
    display:flex;
}
.menuint ul{
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.menuint li{
    display: inline-flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.menuint a{
    text-decoration: none;
    color: #000;
    font-size: 23px;
    font-weight: bolder;
    text-shadow: #9400d3 1px 2px 5px;
    padding: 5px;
    border-radius: 5px;

}

.menuint li:hover a {
    background-color: #9400d3;
    color: #000;
}

.topredesgg{
   display: flex;
  justify-content: center;

   
}
.topRight a img{
    margin-top: 10px;
    margin-right: 5px;
    object-fit: cover;

}
/* area de apresentação */
.conteudo-slide-area{
    margin-top: 100px;
}

.conteudosite{
    display: flex;
    
}

.conteudorespo{
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: auto;
          
}


.ApresentacaoArea{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  

}

.areatitulo{
    display: inline-flex;
    color: #fff;
    font-family:'Saira Condensed', sans-serif; ;
    font-size: 50px;
    margin-top: 45px;
    margin-left: 50px;
    font-weight: bolder;

    
  
}

.subtitulo{
    align-self: flex-end;
    position: absolute;
    margin-top: 85px;
    font-family: 'Saira Condensed', sans-serif;;
    justify-self: flex-start;
    font-size: 29px;
    color: #fff;
    font-weight: bolder;

}
.slide{
    margin-top: 15px;
    margin-left: 300px;
    height: 380px;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    box-shadow: 2px 3px 10px #9400d3;
}
.slideapresentaçao{
    font-size: 25px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    margin-left: 15px;

}

.slidearea{
    height:380px;
   width: 100000vw;
}

.slideconteudo{
    height: 380px;
    float: left;
   
    
}
.videoslide{
    width: 100vw;
    max-width: 600px;
}
/* area de animes */
.content-anime{
    display: flex;
}
.content-anime-respo{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: auto;
  
    
}
.content-anime-respo h2{
    color: #fff;
    margin-bottom: 50px;
    font-size: 35px;


}
.area-animes{
    display: grid;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    grid-template-areas: 
    "naruto onepiece tokio"
    "Nanatsu dragonbol ."
    ;
}
.anime-contet-area{
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 3px 10px #9400d3;
    margin: 10px;
   
}
.anime-contet-area h3{
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
}
.anime-contet-area img{
    width: 375px;
}
.button--anime{
    justify-self: flex-end;
    align-self: flex-end;
    border: none;
    text-decoration: none;
    border-radius: 6px;
    padding: 5px 10px;
    background-color: #FFF;
    color: #000;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button--anime:hover{
    background-color: #9400d3;
}
.buttom-img{
    align-self: center;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    background-color: #FFF;
    color: #000;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;

}
.buttom-img a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
    
}
.buttom-img:hover{
    background-color: #9400d3;
  
}
.naruto{
    grid-area: naruto;
}
.onepiece{
    grid-area: onepiece;
}
.tokioghoul{
    grid-area: tokio;
}
.Nanatsu{
    grid-area: Nanatsu;
}
.dragonbol{
    grid-area: dragonbol;
}
/* area de videos */
.area-videos{
    width: 100%;
    max-width: 1200px;
    margin: auto;
   color: #fff;
}
.area-videos h2{
    font-size: 35px;
}
#botao-videos{
    float: right;
    margin-top: -30px;
    margin-right: 30px;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 10px;
    text-decoration: none;
    
}
#botao-videos:hover{
    background-color: #9400d3;
}
.videos-espaço{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.videos-local{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 350px;
    margin-top: 15px;
    box-shadow: 2px 3px 10px #9400d3;
}

/* area Edits */
.edits-area{
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;

}
.edits-area-resp{
    display: flex;    
    justify-content: space-around;
    flex-wrap: wrap; 
    margin-bottom: 40px;   
    
}
.edits-area h4{
    font-size: 35px;
    color: #FFF;

}
.button-edits{
    align-self: flex-end;
    display:flex ;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    height: 30px;
    text-decoration: none;
    border-radius: 6px;
    background-color: #FFF;
    color: #000;
    font-weight: 600; 
    margin-bottom: 40px;
     
}
.button-edits:hover{
    background-color: #9400d3;
}
.edits-area-content{
    justify-self: flex-start;
    width: 320px;
    margin-top: 15px;
    height: 200px;
    background-color: black;
    box-shadow: 2px 3px 10px #9400d3;
}
/* area rodape */
.rodape{
    background:linear-gradient(-180deg,#9400d3,#000 );
}
.rodape-respo{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 250px;
    background:linear-gradient(-180deg,#9400d3,#000 );
}
.dono-point{
    margin-top: 50px;
    margin-left: 50px;
    text-shadow:  2px 3px 10px #9400d3;
}
.dono-point a{
    color: #000;
    font-size: 35px;
    font-weight: bold;
    text-shadow:  2px 3px 10px #9400d3;
    text-decoration: none;
}
.criador{
    margin-top: 200px;
}
.criador a {

    text-decoration: none;
    font-size: 19px;
    color: #fff;
}

.menu-mobile{
    display: none;
}

@media(min-width:768px) and (max-width:1024px){
    .menu-mobile{
        display: block;
        justify-content:flex-end;
        align-items: center;
        object-fit: contain;
        width: 40px;
        height: 40px;
    }
    .menuint nav{
        display: flex;
        align-items: center;
    }
    .menuint ul {
        display: none;
        background-color: rgba(148, 00, 211, 0.9);
        margin-top: 60px;
    }
    .menuint li{
        display: block;       
        margin-right: 10px;
        margin-left: -20px;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        
    }
    .topredesgg{
        margin-right: 15px;
    }
    
    
    
    .conteudorespo{
        flex-direction: column;
        align-items: center;
    } 
    .ApresentacaoArea{
        margin-bottom: 10px;
    }
    .subtitulo{
        margin-top: 88px;
    }
    .slide{
        margin: auto;
    }
    .area-videos h2{
        margin-left: 40px;
    }
    
    
    .area-animes{
        justify-content: center;
        align-items: center;
        grid-template-areas:
        "naruto onepiece"
        "tokio Nanatsu"
        "dragonbol ."
        ;
    }
    .anime-contet-area{
        width: 300px;
    }
    .anime-contet-area img{
        width: 300px;
    }
    .edits-area h4{
        margin-left: 50px;
    }
    .button-edits{
        margin-right: 50px;
    }
    .rodape-respo{ 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dono-point{
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .criador{
        margin-top: 0;
    }
}
@media(min-width:320px) and (max-width:767px){
    .logo{
        margin-left: -25px;
    }
    .menu-mobile{
        display: block;
        justify-content:flex-end;
        align-items: center;
        object-fit: contain;
        margin-right: 18px;
        margin-bottom: 20px;
        width: 30px;
        height: 30px;
    }
    .menuint nav{
        display: flex;
        margin-right: 0;
        
        align-items: flex-end;
    }
    .menuint ul {
        display: none;
        align-self: center;
        background-color: rgba(148, 00, 211, 0.9);
        margin-top: 344px;
        margin-left: -127px;
    }
    .menuint li{
        display: block;       
        margin-right: 10px;
        
        margin-left: -20px;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        
    }
    .menuint a{
        font-size: 18px;
    }
    .topredesgg{
        display: none;
    }
    
    
    
    .conteudorespo{
        flex-direction: column;
        align-items: center;
    } 
    .ApresentacaoArea{
        margin-bottom: 10px;
    }
    .subtitulo{
        margin-top: 88px;
    }
    .slide{
        margin: auto;
        height: 250px;
    }
    .slideapresentaçao{
        margin-top: 27px;
    }
    .slideconteudo iframe{
        width: 370px;
        height: 200px;
    }
    .slidearea{
        height: 250px;
        margin-left: 25px;
    }
    .slideconteudo{
        height: 200px;
    }
    .area-videos h2{
        margin-left: 40px;
    }
    
    
    .area-animes{
        justify-content: center;
        align-items: center;
        grid-template-areas:
        "naruto "
        "onepiece"
        "tokio"
        "Nanatsu"
        "dragonbol"
        "."
        ;
    }
    .anime-contet-area{
        width: 300px;
    }
    .anime-contet-area img{
        width: 300px;
    }
    .edits-area h4{
        margin-left: 50px;
    }
    .button-edits{
        margin-right: 50px;
    }
    .rodape-respo{ 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dono-point{
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .criador{
        margin-top: 0;
    }
    .criador a{
        font-size: 12px;
    }
}